<a href="https://colab.research.google.com/github/pavanmerneedi143/FMML-LABS/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1ANSWER


print("Twinkle, twinkle, little star,")
print("     How I wonder what you are!")
print("                  Up above the world so high,")
print("                   Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("     How I wonder what you are")

Twinkle, twinkle, little star,
     How I wonder what you are!
                  Up above the world so high,
                   Like a diamond in the sky.
Twinkle, twinkle, little star,
     How I wonder what you are

In [ ]:
#2ANSWER


!Python --version

/bin/bash: line 1: Python: command not found

In [ ]:
#3ANSWER


import datetime

# Get the current date and time
current_datetime = datetime.datetime.now()

# Format and print the current date and time
formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")
print("Current Date and Time:", formatted_datetime)

Current Date and Time: 2023-10-02 15:52:14

In [ ]:

#4ANSWER

import math

# Get the radius from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area of the circle
area = math.pi * (radius ** 2)

# Print the result
print(f"The area of the circle with radius {radius} is {area:.2f}")

Enter the radius of the circle: 1.1
The area of the circle with radius 1.1 is 3.80

In [ ]:
#5ANSWER


# Get the user's first name and last name
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

# Concatenate and print the names in reverse order
full_name = last_name + " " + first_name
print("Reversed Name:", full_name)

Enter your first name: divya
Enter your last name: sri
Reversed Name: sri divya

In [ ]:
#6ANSWER

# Get the comma-separated input from the user
input_str = input("Enter a sequence of comma-separated numbers: ")

# Split the input string by commas and convert it to a list of numbers
numbers_list = input_str.split(',')
numbers_list = [int(num) for num in numbers_list]

# Convert the list to a tuple
numbers_tuple = tuple(numbers_list)

# Display the list and tuple
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter a sequence of comma-separated numbers: 3,5,7,23
List: [3, 5, 7, 23]
Tuple: (3, 5, 7, 23)